.movie_container{

}
.grid{
    position: relative;
}
.grid .frame{
    height: 200px;
    width: 200px;
    float: left;
    border: lightgray solid;
    padding: 5px;
    margin: 30px 0 0 30px;
    position: relative;

}

.grid .photo{
    height: 100%;
    width: 100%;
}

.grid .more_info{
    position: absolute;
    height: 40px;
    background-color: rgba(0,0,0,.4);
    width: 199px;
    margin-top: -45px;
    text-align: center;
    color: white;
}

.grid .frame:hover .more_info{
    height: 120px;
    background-color: rgba(0,0,0,.6);
    margin-top: -125px;
}

.grid .frame:hover .starring{
    visibility: visible;
    color: white;
    height: 40px;
    bottom: 0;
}

.grid .starring{
    background-color: rgba(0,0,0,.7);
    visibility: hidden;
    color: transparent;
    height: 0;
}

.grid .rating{
    display: none;
}

.more_info .year{
    position: relative;
}
.grid .description{
    display: none;
}

.grid .HD{
    height: 30px;
    width: 40px;
    position: absolute;
    top:15px;
    left: 15px;
}

.grid .hd_hidden{
    display: none;
}
