@font-face {
    font-face-name: oleo;
    src: url(fonts/Oleo.woff);
}

.movie_container{
 width: 1350px;
}
.header{
    margin-left: 35px;
    font-size: 20px;
    width: 1205px;
    height: 60px;
    background-color: lightgray;
}

.header .block{
    position: relative;
    float: left;
}

.title{
    font-weight: bolder;
    font-family: oleo;
    line-height: 60px;
    margin: 0 10px;
}

#search{
    width: 412px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    margin: 15px 0 0 25px;
    font-size: 18px;
}

#search_button{
    height: 32px;
    margin-top: 13px;
    border-radius: 0 5px 5px 0;
    background-color: deepskyblue;
    color: white;

}

.sub_menu{
    margin-left: 35px;
    width: 1205px;
    height: 35px;
    /*border-bottom: solid lightgray;*/
    font-size: 18px;
}

.sub_menu select{
    width: 65px;
    height: 25px;
    margin-left: 5px;
    font-size: 15px;
    overflow-y: hidden;
}

select option{
    font-size: 15px;
}

.sub_menu span{
    line-height: 35px;
}

#header{
    margin-left: 60px;
}

.grid{
    position: relative;
}

.list{
    position: relative;
}

.grid .frame{
    height: 200px;
    width: 200px;
    float: left;
    border: lightgray solid;
    padding: 5px;
    margin: 30px 0 0 30px;
    position: relative;

}

.list .frame{

    height: 260px;
    width: 1195px;
    float: left;
    border-top: lightgray solid;
    padding: 5px 5px 5px 0;
    margin: 10px 35px 10px 35px;
    position: relative;
}

.list .photo{
    height: 220px;
    width: 220px;
    padding: 5px;

    border: lightgray solid;
    margin: 10px 5px 5px 5px;

}

.grid .photo{
    height: 100%;
    width: 100%;
}

.grid .more_info{
    position: absolute;
    height: 40px;
    background-color: rgba(0,0,0,.4);
    width: 199px;
    margin-top: -45px;
    text-align: center;
    color: white;
}

.list .more_info{
    position: absolute;
    left: 260px;
    top: 15px;
    height: 70px;
    
}

.grid .more_info .movie_title{
    text-transform: uppercase;
}

.list .more_info .movie_title{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color:black;
    display:inline-block;
    position: relative;
    margin: 0 10px 10px 0;
}

.list .more_info .year{
    position: relative;
    color: gray;
    font-size:15px;
    display:inline-block;
}

.grid .frame:hover .more_info{
    height: 120px;
    background-color: rgba(0,0,0,.6);
    margin-top: -125px;
}

.grid .frame:hover .starring{
    visibility: visible;
    color: white;
    height: 40px;
    margin-top: 40px;
}

.grid .starring{
    background-color: rgba(0,0,0,.7);
    visibility: hidden;
    color: transparent;
    height: 0;
}

.grid .rating{
    display: none;
}

.list .rating{
    position:absolute;
    top: 75px;
    left:260px
}

.more_info .year{
    position: relative;
}
.grid .description{
    display: none;
}

.list .description{
    position:absolute;
    top: 100px;
    left: 260px;
    background-color: rgb(236, 255, 255);
    width:450px;
    height:auto;
    line-height: 1.5;
    border: solid lightgray 1px;
    padding: 5px;
}

.grid .HD{
    height: 30px;
    width: 40px;
    position: absolute;
    top:15px;
    left: 15px;
}

.list .HD{
    height:30px;
    width:40px;
    top:35px;
    left:25px;
    position:absolute;
}

.movie_logo{
    height: 60px;
}

.suggestion_box{
    position: fixed;
    z-index: 100;
    width: 470px;
    background-color: white;
    max-height: 175px;
    margin-left: 255px;
    margin-top: -16px;
    display: none;
    border: lightgray solid thin;
}
.suggestion{
    height: 25px;
    line-height: 25px;
    position: relative;
    font-size: 16px;
    padding: 5px;
}

.suggestion:hover{
    background-color: rgb(245, 245, 245)!important;
    cursor: pointer;
}

.hd_hidden{
    display: none;
}

.icons{
    float:right;
    padding-top: 5px;
}

.icons img{
    height:25px;
    width: 25px;
}

.icons img:hover{
    cursor:pointer;
}

img.hidden{
    display:none;
}
